page-home {

}
.UMSNavButtons {
    color: orangered;
    position: absolute;
    width:100vw;
    bottom:0;
    right:0;
 
    size:10vh;    
}
  .headertekst 
    {
      text-align: left;
      
      top: 0;
      bottom: 10;
      font-size: 70%;
    }
  .headertekst2 
    {
      text-align: left;
      font-size: 100%;
    }    